/* custom css */

div.home-book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.home-book-list .home-book-list-item {
    cursor: pointer;
    display: block;
    border: solid 1px rgb(209 213 219);
    border-radius: 4px;
    width: 192px;
    overflow: hidden;
    opacity: 0.9;
    margin: 10px 20px 20px 0;
}

div.home-book-list .home-book-list-item:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    opacity: 1;
}

:is(.dark div.home-book-list .home-book-list-item) {
    border-color: rgb(75 85 99);
}

:is(.dark div.home-book-list .home-book-list-item:hover) {
    box-shadow: 0 4px 6px -1px rgb(255 255 255 / 0.1), 0 2px 4px -2px rgb(255 255 255 / 0.1);
}

div.home-book-list div.home-book-list-title {
    font-weight: bold;
    text-align: center;
    padding: 12px 4px 4px 4px;
}

div.home-book-list div.home-book-list-desc {
    padding: 4px 4px 8px 4px;
}

div.home-blog-list div.home-blog-list-item {
    margin: 16px 0;
}

/******************** execute lang ********************/

.spinner {
    border: 2px solid currentcolor;
    border-right-color: transparent;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -0.125em;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

/******************** git explorer ********************/

div.git-explorer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.git-explorer a {
    text-decoration: none;
}

div.git-explorer div.git-explorer-header {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid rgb(209 213 219);
    border-bottom: none;
    /* background-color: #ebf7fd; */
    border-radius: 4px 4px 0 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

:is(.dark div.git-explorer div.git-explorer-header) {
    border-color: rgb(75 85 99);
}

div.git-explorer>div.git-explorer-frame {
    display: flex;
    align-items: stretch;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree {
    flex: none;
    width: 200px;
    border: 1px solid rgb(209 213 219);
}

:is(.dark div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree) {
    border-color: rgb(75 85 99);
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree {
    width: 100%;
    height: 400px;
    padding: 4px;
    overflow: scroll;
    box-sizing: border-box;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree div.git-explorer-tree-item {
    margin: 4px 4px 4px 1em;
    white-space: nowrap;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree>div.git-explorer-tree-item {
    margin-left: 4px;
}

div.git-explorer-tree-item>a {
    padding: 2px;
    border: 1px solid transparent;
}

div.git-explorer-tree-item a.git-explorer-tree-item-selected {
    background-color: rgb(229 231 235);
    border: 1px solid rgb(209 213 219);
    border-radius: 2px;
}

:is(.dark div.git-explorer-tree-item a.git-explorer-tree-item-selected) {
    background-color: rgb(55 65 81);
    border-color: rgb(75 85 99);
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-resize {
    flex: none;
    width: 4px;
    border-bottom: 1px solid rgb(209 213 219);
    /* cursor: ew-resize; */
}

:is(.dark div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-resize) {
    border-color: rgb(75 85 99);
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code {
    flex: 1;
    border: 1px solid rgb(209 213 219);
}

:is(.dark div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code) {
    border-color: rgb(75 85 99);
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code {
    overflow-x: hidden;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code>pre {
    width: 100%;
    height: 400px;
    display: block;
    box-sizing: border-box;
    border: none;
    white-space: pre !important;
    overflow: scroll !important;
    tab-size: 4;
    margin: 0 !important;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code>pre>code {
    font-size: 0.875rem;
    line-height: 1.25rem;
}